* {
    box-sizing: border-box;
    border-color: rgb(31, 127, 92);
    border-width: 1px;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.bd-green {
   border-color: rgb(31, 127, 92);
}

.clr-mg-pd {
    margin: 0;
    padding: 0;
}

.wh-nowrap {
    white-space: nowrap;
}

.resizable-border {
    display: block;
    float: left;
    height: 100%;
    width: 2px;
}
.resizable-border:hover {
    cursor: e-resize;
}

.content-container {
    height: 100%;
    width: 100%;
    background-color: #343a40;
}

.left-box {
    float: left;
    height: 100%;
    width: 80%;
    overflow-y: auto;
}

.right-box {
    float: left;
    height: 100%;
    width: 20%;
    max-width: 70%;
    min-width: 20%;
    overflow-y: auto;
    border-style: none none none solid;
}

.screen-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.form-keeper{
    border: 1px solid #333;
    padding: 10px;
}

.custom-invalid-feedback{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.wrapper {
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    max-width: 450px;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.disabled-option {
    color: #2e2e2e;
}

.disabled-option:disabled {
    color: #2e2e2e;
}

.form-button-custom, .form-submit-custom, .form-reset-custom {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-button-custom:hover, .form-submit-custom:hover, .form-reset-custom:hover {
    background-color: #39ace7;
}

.form-button-custom:active, .form-submit-custom:active, .form-reset-custom:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.form-text-custom, .form-password-custom {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.form-text-custom:disabled {
    color: black;
}

.form-password-custom:focus, .form-text-custom:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.form-password-custom:placeholder, .form-text-custom:placeholder {
    color: #cccccc;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.highlight {
    transition: 0.3s;
}

.highlight:hover {
    background-color: #d9d9d9;
}

.center-align{
    margin: auto;
    text-align: center;
}

.nav-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nav-content > ul {
    list-style: none;
}

#search {
    position: relative;
    display: inline-block;
    max-width: 357px;
    width: 80%;
    margin: 4px;
}

#fav-list {
    list-style: none;
    text-decoration: none;
}

#fav-list > li {
    color: #3490dc;;
    cursor: pointer;
}
#fav-list > li:hover {
    color: #1270ba;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search_text{
    flex-grow: 1;
    padding: 15px 0 15px 20px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

#search_text::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

#search_text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

#search_text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

#search_text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

#search_text:focus {
    background: rgb(64, 151, 119);
}

#search_button {
    border: 0 none;
    background: #1f7f5c;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.subnav {
    position: absolute;
    list-style: none;
    transition: all 0.1s;
    display: block;
    width: 100%;
    z-index: 1;
}

.subnav::after {
    content: '';
    clear: both;
}

.subnav li {
    padding: 5px;
    float: none;
    display: block;
    width: 100%;
    color: white;
    background: #232323;
    border-bottom: 1px solid #2e2e2e;
}

.subnav li:hover {
    background: #343434;
    cursor: pointer;
}

#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}

.navbar-header.navbar-right.pull-right {
    margin-right: 15px;
}

.navbar-right > li {
    float: left;
}

.navbar {
    border-style: none none solid none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.nav-brand {
    text-decoration: none !important;
    color: white !important;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    font-size: 1.125rem;
    margin-right: 1rem;
}

.ml-auto-nav {
    margin-left: auto ;
}

.mr-auto-nav {
    margin-right: auto;
}

.nav-auto-right {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

